@font-face {
  font-family: "Asket";
  src:         url("../fonts/Asket-Bold.ttf") format('opentype');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: "Asket Condensed";
  src:         url("../fonts/Asket-Condensed-Extrabold.otf") format('opentype');
  font-weight: 800;
  font-style:  normal;
}

@font-face {
  font-family: "Asket";
  src:         url("../fonts/Asket-Extrabold.otf") format('opentype');
  font-weight: 800;
  font-style:  normal;
}

@font-face {
  font-family: "Asket";
  src:         url("../fonts/Asket-Extended-Light.otf") format('opentype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "Asket Narrow";
  src:         url("../fonts/Asket-Narrow-Light.otf") format('opentype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "Bebas";
  src:         url("../fonts/Bebas-Neue-Bold.otf") format('opentype');
  font-weight: 700;
  font-style:  normal;
}

