@import "./variables";

@media (any-hover: hover) {
  .header {

  }
}

.banner {
  padding-top:   170px;
  margin-bottom: 5.73%;
  overflow:      hidden;
  &:after {
    content:    "";
    position:   absolute;
    right:      6%;
    top:        80px;
    width:      17px;
    height:     150px;
    background: $second-color;
  }
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         35px 0 0 90px;
    .banner-image {
      width:    34%;
      position: relative;
      z-index:  1;
      &:after {
        content:       "";
        position:      absolute;
        bottom:        0;
        left:          0;
        width:         154.4%;
        height:        108.4%;
        border-radius: 50%;
        background:    linear-gradient(-45deg, rgb(123, 7, 255), rgb(152, 24, 199));
        z-index:       -1;
        transform:     translate(-23%, 18%);
      }
      &:before {
        content:             "Tali Light";
        position:            absolute;
        left:                0;
        bottom:              0;
        font-family:         "Bebas", sans-serif;
        font-size:           9vw;
        -webkit-text-stroke: 1px $white;
        color:               transparent;
        z-index:             11;
        transform:           translate(-5%, 5%);
      }
      img {
        z-index:  5;
        position: relative;
      }
    }
    .banner-description {
      width:          45%;
      margin-right:   8%;
      text-align:     center;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      .buttons {
        width: 100%;
      }
    }
  }
}

.info {
  margin-bottom: 7.3%;
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    .info-description {
      width: 46%;
      p {
        margin-bottom: 9.93%;
        max-width:     700px;
      }
    }
    .info-image {
      position:   relative;
      width:      48%;
      margin-top: 20px;
     .image-2 {
        position: absolute;
      }
      .image-1 {
        width: 55.7%;
        top:   0;
        left:  0;
        padding-bottom: 20%;
      }
      .image-2 {
        left:    36%;
        top:     15%;
        width:   59.2%;
        z-index: -1;
      }
    }
  }
}

.purpose {
  margin-bottom: 9%;
  overflow:      hidden;
  &-inner {
    display:     flex;
    align-items: center;
    .purpose-description {
      display:         flex;
      justify-content: space-between;
      padding:         4.1%;
      width:           59.2vw;
      position:        relative;
      &:before {
        content:    "";
        position:   absolute;
        top:        0;
        left:       0;
        width:      100vw;
        height:     100%;
        background: linear-gradient(to left, rgba(123, 7, 255, 0.2), rgba(152, 24, 199, 0.2));
        z-index:    1;
      }
      p {
        color:          $second-color;
        font-weight:    300;
        text-transform: uppercase;
      }
      .description-item {
        border-left:  6px solid $second-color;
        padding-left: 10px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.maecenas {
  margin-bottom: 8.8%;
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    .maecenas-description {
      width: 38%;
      .description-content {
        border-left:   16px solid $second-color;
        padding:       0 0 5px 8%;
        margin-bottom: 9.5%;
        p {
          font-size: 25px;
        }
        span {
          position:    relative;
          margin-left: 11%;
          &:after {
            content:          "";
            position:         absolute;
            right:            0;
            bottom:           10px;
            width:            43px;
            height:           43px;
            background-image: url("../images/gift.svg");
            background-size:  contain;
            z-index:          1;
          }
        }
      }
      .btn {
        margin-left: 50px;
      }
    }
    .maecenas-image {
      position: relative;
      width:    34.7%;
      span {
        position:  absolute;
        top:       67%;
        left:      50%;
        transform: translate(-50%, 0);
        font-size: 22px;
        color:     $text-color;
      }
    }
  }
}

.tali-image {
  margin-bottom: 8.3%;
  img {
    height:          55vw;
    object-fit:      cover;
    object-position: top;
  }
}

.contacts {
  margin-bottom: 8.3%;
  &-inner {
    display: flex;
  }
  .contacts-contact, .tell {
    display:        flex;
    flex-direction: column;
  }
  &-form {
    max-width:    670px;
    width:        100%;
    margin-right: 10.81%;
  }
  &-contact {
    .tell {
      border-left:   6px solid $second-color;
      padding-left:  25px;
      margin-bottom: 25px;
      a {
        margin-bottom: 10px;
        font-size:     25px;
        font-weight:   700;
        line-height:   1.7;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover, &:active {
          color: $second-color;
        }
      }
    }
    .contact-socials {
      display:      flex;
      padding-left: 30px;
      a {
        margin-right: 20px;
        transition:   .3s linear;
        &:last-child {
          margin-right: 0;
        }
        &:hover, &:active {
          opacity: .7;
        }
      }
      img {
        width:  45px;
        height: 45px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .banner {
    &-inner {
      .banner-description {
        width:        50%;
        margin-right: 5%;
        h2 {
          margin-bottom: 40px;
        }
      }
    }
  }
  .purpose {
    &-inner {
      .purpose-description {
        width:   65vw;
        padding: 4.1% 0 4.1% 3%;
        .description-item {

        }
      }
    }
  }
  .maecenas {
    &-inner {
      .maecenas-image {
        width: 45%;
      }
      .maecenas-description {
        .description-content {
          padding: 0 0 5px 4%;
          span {
            &:after {
              width:  35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .contacts {
    &-form {
      max-width: 540px;
    }
    &-contact {
      .tell {
        margin-bottom: 20px;
        padding-left:  20px;
        a {
          font-size: 20px;
        }
      }
      .contact-socials {
        img {
          width:  35px;
          height: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .banner {
    padding: 75px 0 0;
    &:after {
      width: 7px;
    }
    &-inner {
      padding: 35px 0 0 30px;
      .banner-description {
        margin-right: 3%;
        width:        50.91%;
      }
      .banner-image {
        margin-right: 10.5%;
      }
    }
  }
  .maecenas {
    &-inner {
      .maecenas-description {
        width: 50%;
        .description-content {
          border-left: 10px solid $second-color;
          padding:     0 0 5px 10px;
          p {
            font-size: 16px;
          }
          span {
            &:after {
              width:  24px;
              height: 24px;
            }
          }
        }
        .btn {
          margin-left: 0;
        }
      }
      .maecenas-image {
        width: 41.41%;
      }
    }
  }
  .info {
    &-inner {
      .info-image {
        width:      45%;
        min-height: 373px;
      }
      .info-description {
        width: 51%;
      }
    }
  }
  .purpose {
    &-inner {
      .purpose-image {
        width: 32.9%;
      }
      .purpose-description {
        flex-direction: column;
        padding:        5.5% 9.7%;
        .description-item {
          margin-bottom: 35px;
          border-left:   4px solid $second-color;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .tali-image {
    margin-bottom: 10.5%;
  }
  .contacts {
    margin-bottom: 10.5%;
    &-inner {
      justify-content: center;
    }
    &-form {
      max-width:    405px;
      margin-right: 4.2%;
    }
    &-contact {
      .tell {
        padding-left:  15px;
        margin-bottom: 15px;
        a {
          font-size:     16px;
          line-height:   1.82;
          margin-bottom: 5px;
        }
      }
      .contact-socials {
        img {
          width:  28px;
          height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .banner {
    padding-top:   55px;
    margin-bottom: 80px;
    &-inner {
      padding: 0;
      .banner-image {
        width:  44.7%;
        margin: 0;
        &:after {
          width:     125.4%;
          height:    88%;
          transform: translate(-11%, 10%);
        }
        &:before {
          font-size: 14vw;
          transform: translate(-2%, 11%);
        }
      }
      .banner-description {
        text-align:  center;
        width:       100%;
        margin:      0;
        z-index:     5;
        background:  $bg-color;
        padding-top: 20px;
        position:    relative;
        .btn {
          margin: 0 10px 15px 0;
          &:last-child {
            margin: 0 0 10px;
          }
        }
        &:after {
          content:    "";
          position:   absolute;
          bottom:     0;
          left:       15px;
          width:      6px;
          height:     155px;
          background: $second-color;
        }
      }
    }
  }
  .banner, .info, .maecenas, .contacts {
    &-inner {
      flex-direction: column;
      align-items:    center;
    }
  }
  .info .info-description, .info-image, .maecenas-image {
    width: 100%;
  }
  .info {
    margin-bottom: 0;
    &-inner {
      .info-description {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        margin-bottom:  30px;
        p {
          margin-bottom: 25px;
        }
      }
      .info-image {
        width:      100%;
        min-height: 97vw;
        z-index:    3;
        .image-1 {
          width: 59%;
        }
        .image-2 {
          width: 63.6%;
        }
      }
    }
  }
  .purpose {
    margin-bottom: 50px;
    &-inner {
      flex-direction:  column-reverse;
      justify-content: center;
      align-items:     center;
      .purpose-image {
        margin-top: -30px;
        z-index:    3;
        width:      73.5%;
      }
      .purpose-description {
        padding:        80px 40px;
        background:     linear-gradient(to left, rgba(123, 7, 255, 0.2), rgba(152, 24, 199, 0.2));
        width:          100%;
        flex-direction: column;
        .description-item {
          margin:      0 0 20px;
          border-left: 4px solid $second-color;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:before {
          display: none;
        }
      }
    }
  }
  .maecenas {
    margin-bottom: 50px;
    &-inner {
      .maecenas-description {
        max-width:      340px;
        width:          100%;
        margin-bottom:  50px;
        display:        flex;
        flex-direction: column;
        align-items:    center;
        .description-content {
          border-left:   6px solid $second-color;
          padding:       5px 0 10px 10px;
          margin-bottom: 35px;
          p {
            font-size: 14px;
          }
          span {
            &:after {
              right:  0;
              bottom: 5px;
              width:  19px;
              height: 19px;
            }
          }
        }
        .btn {
          margin: 0;
        }
      }
      .maecenas-image {
        width: 76.6%;
        span {
          position:  absolute;
          top:       67%;
          left:      50%;
          transform: translate(-50%, 0);
          font-size: 14px;
          color:     $text-color;
        }
      }
    }
  }
  .tali-image {
    margin-bottom: 50px;
  }
  .contacts {
    margin-bottom: 50px;
    &-inner {
      flex-direction: column-reverse;
      align-items:    center;
    }
    &-form {
      margin:    0;
      max-width: 260px;
    }
    &-contact {
      margin-bottom: 50px;
      .tell {
        text-align:    center;
        padding:       0;
        margin-bottom: 20px;
        border:        none;
        a {
          font-size:     14px;
          line-height:   1.5;
          margin-bottom: 10px;
        }
      }
      .contact-socials {
        justify-content: center;
        padding:         0;
        a {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        img {
          width:  25px;
          height: 25px;
        }
      }
    }
  }
}