@import "./variables";


@media (any-hover: hover) {
  .header {

  }
}

.banner {
  overflow: hidden;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    .banner-image {
      width: 32.4%;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: -20%;
        left: -32%;
        width: 154.4%;
        height: 108.4%;
        border-radius: 50%;
        background: $second-color;
        z-index: -1;
      }
      img {
        z-index: 5;
      }
    }
    .banner-description {
      width: 37%;
      .btn {
        margin-right: 50px;
      }
    }
  }
}